.circular-img {
	border-radius: 50%;
	background-size: 100% 100%;
}

.stack-end {
	width: 100%;
	height: 100%;
	text-align: center;
}

.stack-end .label {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;   
}

.question-card {

}

.question-card .image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 70%;
}

.question-card .body {
	background: #DADADA;
	height: 30%;
	font-size: 18px;
	color: #FAFAFA;
	text-align: left;
	padding: 6px 10px;
}

.section-answer {
	width: 18%;
	margin-top: 15%;
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #AFAFAF;
	border-radius: 80% / 50%;
}

.section-left {
	float: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	text-align: left;
}

.section-right {
	float: right;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	text-align: right;
}

.section-answer .answer-label {
	font-size:20px;
	color: #fff;
}

.label-line {
	margin-left: 14px;
}

.form-entry {
	margin-top: 8px;
}

.result-higher {
	color: #00CC4C;
	font-weight: bold;
}

.result-lower {
	color: #FF8000;
	font-weight: normal;
}

textarea {
	padding: 12px;
}

.login_logo {
	margin-top : 50px;
	margin-bottom : 20px;
}

.login_button {
	padding-top: 50px;
	margin-left:60px;
	margin-right: 60px;
}