<a class="tab-item" ng-style="{'opacity': tabState.selectedTabIndex === 0 ? 1 : 0.5}" href="/#/me">
  <span class="icon icon-person"></span>
  <span class="tab-label">Unique Me</span>
</a>
<a class="tab-item" ng-style="{'opacity': tabState.selectedTabIndex === 1 ? 1 : 0.5}" href="/#/my-questions">
  <span class="icon icon-star-filled"></span>
  <span class="tab-label">My Questions</span>
</a>
<a class="tab-item" ng-style="{'opacity': tabState.selectedTabIndex === 2 ? 1 : 0.5}" href="/#/my-answers">
  <span class="icon icon-list"></span>
  <span class="tab-label">My Answers</span>
</a>
