<div id="viewport">
	<div class="section-answer section-left" ng-if="topQn" ng-style="{'opacity': 0.3+leftProx*0.7}">
		<p class="answer-label">{{ topQn.left }}</p>
	</div>
	<div class="section-answer section-right" ng-if="topQn" ng-style="{'opacity': 0.3+rightProx*0.7}">
		<p class="answer-label">{{ topQn.right }}</p>
	</div>

	<ul class="stack" swing-stack swing-options="options">
	    <li
	        swing-card
	        swing-on-throwoutleft="throwoutleft($index, eventName, eventObject)"
	        swing-on-throwoutright="throwoutright($index, eventName, eventObject)"
	        swing-on-dragstart="dragstart(eventName, eventObject)"
	        swing-on-dragmove="dragmove(eventName, eventObject)"
	        swing-on-dragend="dragend(eventName, eventObject)"
	        class="question-card"
	        ng-repeat="question in questions">
	        <div class="image" ng-style="{'background-image':'url('+question.url+')'}"></div>
	        <!-- <img ng-src="{{ question.url }}" style="width:100%"> -->
	        <p class="body">{{ question.question }}</p>
	    </li>
	    <div class="stack-end" ng-show="!topQn">
	    	<span class="label">:( No more questions waiting for you to answer</span>
	    	<a href="/#/create">
	    		<button class="btn btn-positive">
				  <span class="icon icon-plus"></span>
				  Add question
				</button>
	    	</a>
	    </div>
	</ul>

	<div style="width:100%; text-align:center" ng-show="topQn">
		<button class="btn btn-negative" style="display:inline-block" ng-click="report(topQn);">Report</button>
		<button class="btn" style="display:inline-block" ng-click="skip(topQn);">Skip</button>
	</div>
</div>
