<div>
	<a class="icon pull-left" style="padding: 0px; display: inline-block" href="/#/me">
	  <span style="height: 40px; font-size:12px"><img ng-src="http://localhost:8000{{user.avatar}}" class="circular-img" style="height: 40px; width: 40px"></span>
	  {{ user.last_name }} {{ user.first_name}}
	</a>
	<a class="icon icon-compose pull-right" style="display:inline-block" href="/#/create"></a>
</div>

<div id="viewport">
	<div class="section-answer section-left" ng-if="topQn" ng-style="{'opacity': 0.5+leftProx*0.5, 'background-color': colors[0].selection}">
		<p class="answer-label">{{ topQn.left }}</p>
	</div>
	<div class="section-answer section-right" ng-if="topQn" ng-style="{'opacity': 0.5+rightProx*0.5, 'background-color': colors[0].selection}">
		<p class="answer-label">{{ topQn.right }}</p>
	</div>

	<ul class="stack" swing-stack swing-options="options">
	    <li
	        swing-card
	        swing-on-throwoutleft="throwoutleft($index, eventName, eventObject)"
	        swing-on-throwoutright="throwoutright($index, eventName, eventObject)"
	        swing-on-dragstart="dragstart(eventName, eventObject)"
	        swing-on-dragmove="dragmove(eventName, eventObject)"
	        swing-on-dragend="dragend(eventName, eventObject)"
	        class="question-card"
	        ng-repeat="question in questions"
	        ng-style="{'border-color': colors[0].border}">
	        <div class="image" ng-style="{'background-image':'url('+question.url+')'}"></div>
	        <!-- <img ng-src="{{ question.url }}" style="width:100%"> -->
	        <p class="body" ng-style="{'background-color': colors[0].txtBg}">{{ question.question }}</p>
	    </li>
	    <div class="stack-end" ng-show="!topQn">
	    	<span class="label">:( No more questions waiting for you to answer</span>
	    	<a href="/#/create">
	    		<button class="btn btn-positive">
				  <span class="icon icon-plus"></span>
				  Add question
				</button>
	    	</a>
	    </div>
	</ul>
</div>
<div style="width:100%; text-align:center" ng-show="topQn">
	<button class="btn btn-negative" style="display:inline-block" ng-click="report(topQn);">Report</button>
	<button class="btn" style="display:inline-block" ng-click="skip(topQn);">Skip</button>
</div>
