<form style="margin: 16px">
  <p class="label-line" style="color:#B00" ng-show="error">{{error}}</p>
  <label class="label-line">Question:</label>
  <textarea rows="5" placeholder="What's in your mind?" ng-model="question.body" maxlength="300" class="form-entry"></textarea>
  <label class="label-line">Answers:</label>
  <input type="text" placeholder="Left Answer" ng-model="question.left" maxlength="12" class="form-entry">
  <input type="text" placeholder="Right Answer" ng-model="question.right" maxlength="12">
  <button class="btn btn-positive btn-block" ng-click="uploadQuestion(question.body, question.left, question.right);">Ask others</button>
  <button class="btn btn-outline btn-block" ng-click="goBack();">Cancel</button>
</form>