<!doctype html>
<html lang="en" ng-app="LoR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>My HTML File</title>
  <link rel="stylesheet" type="text/css" href="/static/vendor/ratchet/css/ratchet.css">
  <link rel="stylesheet" type="text/css" href="/static/vendor/angular-swing/card-stack.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/app.css">
  <script src="/static/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/static/vendor/angular-swing/angular-swing.js"></script>
  <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
<div class="container">
  <header class="bar bar-nav" ng-controller="HeaderController">
    <div ng-include src="'/static/views/header.html'"></div>
  </header>
  <div ng-view class="content"></div>
  <nav class="bar bar-tab" ng-controller="TabController" ng-show="tabState.isTabVisible;">
    <a class="tab-item">
      <span class="icon icon-person"></span>
      <span class="tab-label">Unique Me</span>
    </a>
    <a class="tab-item">
      <span class="icon icon-star-filled"></span>
      <span class="tab-label">My Questions</span>
    </a>
    <a class="tab-item">
      <span class="icon icon-list"></span>
      <span class="tab-label">My Answers</span>
    </a>
  </nav>
</div>
</body>
</html>