<!doctype html>
<html lang="en" ng-app="LoR">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="/static/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
<div class="container">
	<div ng-view></div>
</div>
    home
    <a href="/logout">Logout</a>
</body>
</html>